body,html {
	font-family: Arial
}
#video-list {
	width: 100%;
	border: 1px solid #DADADA;
}
#header {
	color:white;
	background: blue;
	padding: 9px;
	padding-left: 20px;
	border-bottom: 2px solid #002B98;
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top, #7db9e8 0%, #207cca 0%, #2868d6 0%, #0c4299 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#207cca), color-stop(0%,#2868d6), color-stop(100%,#0c4299)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7db9e8 0%,#207cca 0%,#2868d6 0%,#0c4299 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7db9e8 0%,#207cca 0%,#2868d6 0%,#0c4299 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7db9e8 0%,#207cca 0%,#2868d6 0%,#0c4299 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7db9e8 0%,#207cca 0%,#2868d6 0%,#0c4299 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0c4299',GradientType=0 ); /* IE6-9 */
}	
#video-container {
	padding: 10px;
	padding-top: 5px;
}
article.video-holder {
	display: block;
	border: 1px solid #DADADA;
	padding: 5px;
	margin: 2px;
	margin-bottom: 13px;
	height: 75px;
}	
article.video-holder img {
	width: 130px;
	height: 75px;
	float: left;
	margin-right: 10px;
}
span.video-name {
	display: block;
	font-size: 0.8em;
	font-weight: bold;
	color: #002B98;
	padding-top: 0px;
	margin-bottom: 10px;
}
span.video-date {
	font-size: 0.7em;
	color: grey;
}
#pagination {
	display: none;
}
#load {
	text-align: center;
	margin: 0 auto;
	padding: 15px;
	color: white;
	background: #2868d6;
	width: 120px;
	font-weight: bold;
}