body,html {
	font-family: Arial;
  padding: 0;
  margin: 0;
}
section {
	width: 100%;
	border: 1px solid #DADADA;
}
header {
	color:white;
	background: blue;
	padding: 9px;
	padding-left: 20px;
	border-bottom: 2px solid #002B98;
	background: #7db9e8; /* Old browsers */
	background: -webkit-linear-gradient(top, #7db9e8 0%,#207cca 0%,#2868d6 0%,#0c4299 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #7db9e8 0%,#207cca 0%,#2868d6 0%,#0c4299 100%); /* W3C */
}	
#video-container {
	padding: 10px;
	padding-top: 5px;
}
article {
	display: inline-block;
	border: 1px solid #DADADA;
	padding: 5px;
	margin: 2px;
	margin-bottom: 13px;
}	
h1 {
	display: block;
	font-size: 0.8em;
	font-weight: bold;
	color: #002B98;
	padding-left: 5px;
	padding-top: 0px;
	margin-bottom: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 190px;
}
time {
	font-size: 0.7em;
	color: grey;
	padding-left: 5px;
}
nav {
	display: block;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 5px;
	padding-top: 25px;
	border-top: 1px solid #DADADA;
}
nav a {
	display: inline;
	padding: 10px;
	color: #002B98;
	background: #E5EAFF;
	text-decoration: none;
	border-radius: 5px;
	font-size: 0.8em;
	font-weight: bold;
	margin: 3px;
}
#previous {
	background: #2868d6;
	color: #E5EAFF;
	padding-left: 15px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#next {
	background: #2868d6;
	color: #E5EAFF;
	padding-right: 15px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
#load {
	display: none;
}
img.play {
	position: absolute;
	top: 30px;
	left: 70px;
}
div.play-container p {
  width: 180px;
  height: 95px;
  top: -16px;
  padding: 10px;
  position: absolute;
	opacity: 0;
  color: white;
  background: white;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
div.play-container:hover p {
  opacity: 0.8;
  display: block;
	background-color: rgba(0,0,0,0.8);
}
div.play-container {
	position: relative;
}

@media only screen and (max-width: 460px){

	article {
		display: block;
		border: 1px solid #DADADA;
		padding: 5px;
		margin: 2px;
		margin-bottom: 13px;
		height: 75px;
	}	
	img.placeholder {
		width: 130px;
		height: 75px;
		float: left;
		margin-right: 10px;
	}
	h1 {
		display: block;
		font-size: 0.8em;
		font-weight: bold;
		color: #002B98;
		padding-top: 0px;
		margin-bottom: 10px;
		padding-left: 0px;
		width: 140px;
	}
	time {
		font-size: 0.7em;
		color: grey;
    padding-left: 0px;
	}
	nav {
		display: none;
	}
	#load {
		display: block;
		text-align: center;
		margin: 0 auto;
		padding: 15px;
		color: white;
		background: #2868d6;
		width: 120px;
		font-weight: bold;
	}
	img.play {
		position: absolute;
		top: 10px;
		left: 40px;
	}
	div.play-container p {
		display: none;
	}
	div.play-container:hover p {
		display: none;
	}
}

@media only screen and (max-width: 320px) {
  article {
  			height: 100%;

  }
  img {
    display: none;
  }
  time {
    padding-left: 5px;
  }
  h1 {
  	padding-left: 5px;
  	margin-right: 5px;
  	overflow: visible;
  	white-space: normal;
  	width: 100%;
  }
} 